@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Kumbh+Sans:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --Almost-White: hsl(0, 0%, 98%);
  --Medium-Gray: hsl(0, 0%, 41%);
  --Almost-Black: hsl(0, 0%, 8%);
  --ff-epilogue: "Epilogue", serif;
}

body {
  font-family: var(--ff-epilogue);
}
header {
  padding: 1rem;
}
header h1 {
  font-size: 40px;
}
#snap-1 {
  display: none;
}
nav {
  display: flex;
  justify-content: space-between;
}
ul {
  display: flex;
  list-style: none;
}
#ul-div {
  display: flex;
  /* margin-left: 3rem; */
}
#ul-div li {
  color: var(--Medium-Gray);
  width: 6rem;
  margin: 0 1.5rem 0 1.5rem;
}
#div-1 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
#company-div {
  display: flex;
  justify-content: space-between;
}
#feature-div {
  display: flex;
  justify-content: space-between;
}
#div-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#div-2 li {
  margin: 0 1.5rem 0 1.5rem;
  display: flex;
  align-items: center;
}
#li-1 li {
  display: flex;
  align-items: center;
}
#li-2 {
  border: black solid 1px;
  border-radius: 1rem;
  padding: 1rem;
}
/* Main */
main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#main-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60rem;
}
#main-text h1 {
  font-size: 75px;
  font-weight: 700;
  width: 65rem;
  padding: 0 0 1rem 20rem;
}
#main-text p {
  color: var(--Medium-Gray);
  font-size: 18px;
  font-weight: 500;
  width: 49rem;
  padding: 1rem 1rem 1rem 20rem;
}
#main-img-2 {
  display: none;
}
#main-img img {
  width: 35rem;
  margin-right: 10rem;
}
#main-text button {
  background-color: black;
  color: var(--Almost-White);
  font-size: 17.5px;
  height: 3rem;
  width: 10rem;
  border: none;
  border-radius: 1rem;
  margin: 2rem 1rem 1rem 20rem;
}
/* Footer */
.footer-div-container {
  display: flex;
  flex-direction: row;
  width: 30rem;
  margin: 0 0 0 20rem;
}
.footer-div-container .footer-icon {
  margin: 1rem;
}
@media (max-width: 600px) {
  html {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  body {
    height: 100vh;
    overflow-x: hidden;
    /* width: 22rem; */
  }
  #snap-1 {
    width: 26rem;
    display: block;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }
  #snap-1 img {
    height: 2rem;
    width: 3rem;
  }

  nav {
    display: none;
  }
  #ul-div {

  }
  #ul-div li {
    color: var(--Medium-Gray);
    width: 6rem;
    margin: 0 1.5rem 0 1.5rem;
  }
  #div-2 li {
margin: 0;
  }
  main {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    max-width: 100%;
  }
  #main-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 22rem;
    margin: 2rem;
  }
  #main-text p {
    color: var(--Medium-Gray);
    font-size: 15px;
    font-weight: 500;
    width: 22rem;
    margin: 0;
    padding: 0;
  }
  #main-text h1 {
    font-size: 35px;
    font-weight: 700;
    margin: 0;
  }
  #main-img-2 {
    display: block;
    max-width: 21.5rem;
  }
  #main-img-2 img {
    height: 20rem;
    width: 27rem;
  }
  #main-img img {
    display: none;
    width: 0rem;
  }
  #main-text button {
    height: 3rem;
    width: 9rem;
    margin: 1rem 0 1rem 0;
  }
  footer {
  }
  .footer-div-container {
    width: 22rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
  }
  .footer-div-container img {
    width: 5rem;
  }
  .footer-div-container .footer-icon {
    margin: 0;
  }
}
