@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Kumbh+Sans:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
:root {
  --Almost-White: hsl(0, 0%, 98%);
  --Medium-Gray: hsl(0, 0%, 41%);
  --Almost-Black: hsl(0, 0%, 8%);
  --ff-epilogue: "Epilogue", serif;
}
body {
  font-family: var(--ff-epilogue);
  max-width: 1536px;
  margin: 0 auto;
}

nav {
  display: flex;
  justify-content: space-between;
}
nav ul {
  display: none;
}
.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px 12px;
}
/* main */
/* section-1 */
#desktop-hero {
  display: none;
}
.section-1 {
  text-align: center;
}
.section-1 img {
  max-width: 100%;
}
h1 {
  font-weight: 700;
  font-size: 2.2rem;
  text-align: center;
  padding: 20px 0;
  color: var(--Almost-Black);
}

p {
  color: var(--Medium-Gray);
  text-align: center;
  line-height: 1.5;
  font-weight: 500;
}
.section-2-btn-wrapper {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}
.section-2-btn-wrapper button {
  background-color: var(--Almost-Black);
  color: var(--Almost-White);
  width: 40%;
  height: 3rem;
  border-radius: 12px;
  border: none;
  font-size: 18px;
  font-weight: 700;
}
.section-2-imgs {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 30px 1;
}
.section-2-imgs img {
  max-width: 100%;
}
@media (min-width: 1024px) {
  #desktop-hero {
    display: block;
  }
  #mobile-hero {
    display: none;
  }
  nav ul {
    display: flex;
    align-items: center;
    gap: 30px;
    color: var(--Medium-Gray);
    font-weight: 500;
    font-size: 18px;
  }
  .nav-div-1 {
    display: flex;
    align-items: center;
    gap: 50px;
  }
  .menu-icon {
    display: none;
  }
  nav button {
    border: 2px solid var(--Medium-Gray);
    padding: 15px 25px;
    border-radius: 15px;
    font-weight: 700;
    font-size: 18px;
    color: var(--Medium-Gray);
    background-color: white;
    cursor: pointer;
  }
  .menu-icon {
    display: none;
  }
  /* main */
  main {
    display: flex;
    flex-direction: row-reverse;
    gap: 10rem;
    padding: 60px 0;
    max-height: 100%;
    max-width: 76%;
    margin: 0 auto;

  }
  h1,
  p {
    text-align: start;
  }

  h1 {
    font-size: 4.7rem;
    padding: 45px 0;
  }
  p {
    font-size: 18px;
    line-height: 1.5;
  }
  .section-1 {
    display: flex;
    justify-content: center;
  }
  .section-2-btn-wrapper {
    justify-content: flex-start;
    padding: 50px 0;
  }
  .section-2-btn-wrapper button {
    width: 30%;
  }
  .section-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5rem;
  }
  .section-2-imgs {
    margin: 0;
  }
}
